.display-3 {
    background: transparent !important;
    border: 0px !important;
    color:#fff;
}

.display-3::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }

.display-4 {
    background: transparent !important;
    border: 0px !important;
}

.bodyText {
    background: transparent !important;
    border: 0px !important;
    width: 500px !important;
    height: 300px;
    resize: none;
}

.tagline {
    background: transparent !important;
    border: 0px !important;
}

.webTheme {
    background-color: #f55d42 !important;
    background-image: url("https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 'cover';
    background-size: 100% 800px;
    height:680px;
}


.footercss {
    background: transparent !important;
    border: 0px !important;
}

.toptext {
    background: transparent !important;
    border: 0px !important;
    font-size: 20px
}

.jumbotron {
    border-radius: 0 !important;
}

#h2Input {
    color:#fff;
}
#h2Input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}