.display-4 {
    background: transparent !important;
    border: 0px !important;
}

.bodyText {
    background: transparent !important;
    border: 0px !important;
    width: 500px;
    height: 300px;
    resize: none;
}

.tagline {
    background: transparent !important;
    border: 0px !important;
}

.webTheme {
    background-color: #f55d42 !important
}

.toptext {
    background: transparent !important;
    border: 0px !important;
    font-size: 20px
}